
.client-checkout {
      width: 35vw;
      min-height: 60vh;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 0 0 0;
      flex-basis: 100%;
      flex: 1;
      padding: 5%;
      margin-left: 15%;

    .checkout-header {
      width: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
      font-size: 0.8em;

      .header-block {
        text-transform: capitalize;
        width: 25vw;

        &:last-child {
          width: 8%;
        }
      }
    }
    button {
      margin-left: auto;
      margin-top: auto;
    }

    .cart-items-row {
        min-height: 40%;
        justify-content: center;     
    }

}