.agreement {
  justify-content: center;
  text-align: left;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5% 25% 15% 25%;
  padding: 10 10 10 10;
  border: pink black 4px;
  font-size: 0.6em;

}