.privacy-policy{
  justify-content: center;
  text-align: center;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 5% 25% 5% 25%;
  padding: 10 10 10 10;
  border: black solid 3px;
  
  .sub-title {
    font-size: 1.4em;
  }
}

