.title-header {
  height : 18%;
  width : 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'arial-black';
  font-size: 3em;
  animation : titleAnim 3s forwards; 

  @keyframes titleAnim {
      0% {
          opacity : 0.1;   
      }
      100% {
          opacity: 1.0;
      }
  }
}