.sign-up {

  //we want all of those elements 
  //vertically aligned
  display: flex;
  flex-direction: column;
  width: 380px;
  justify-content: center;
  align-items: center;
  

  .title{
    margin: 10px 0;
    padding: 10px 0 0 0;
    font-family: 'arial-black';
    font-size: 0.9em;
  }
  
  .signup-button {
    align-items: center;
    justify-content:center;
    margin-left: 15% ;
    font-family: 'Calibri';
  }


}