.CheckoutSummaryBox{
  
  min-height: 60vh;
  width: 35vw;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1; 
   
  .CheckoutTitle {
      font-size: 1.2em;
  }

  .CheckoutSubTitle {
   // width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

  }

  .checkout-buttons-rows{
      justify-content: space-around;
      flex-direction: row;
      padding: 20 20 20 20;
      flex-wrap: wrap;
      display: flex;
      margin-top: 5%;
      margin-bottom: 5%;

     
    .checkout-buttons-columns{
      flex-direction: column;
      display: flex;
      flex: 1;
   
    }


  }

}



::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-button {
  background: white;

}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid lightgrey;
}
