.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid grey;
  background-color: white;
  top: 70px;
  right: 10px;
  z-index: 5;
  overflow: auto; 
  border: 3px red solid;
  
  .close-dropdown {
    border: 3px yellow solid;  
    text-align: right;

    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity:  1.0;
    }
  }

  .emtpy-message {
      font-size: 18px;
      margin : 5em auto;
  }

   //fix the scroll bvar 
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;

  }

  button {
    //by doing this, the button will always 
    //stays at the bottom 
    margin-top: auto;
  }

}


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-button {
  background: white;

}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 30px;
  border: 2px solid lightgrey;
}
